doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" type="text/css" href="/stylesheets/app.min.css")

  body(ng-app="rackApp" ng-controller="UsersController")
    h1 Users
    table
      tr
        th id
        th user name
        th registered
      tr(ng-repeat="user in users")
        td {{ user.id }}
        td {{ user.username }}
        td {{ user.registered }}

    script(src="/bower_components/angular/angular.min.js")
    script(src="/javascripts/app.min.js")